$blueColor: #197aff;

button {
  outline: none;
}

.m-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.w-50 {
  width: 49%;
  max-width: 49%;
}
