@import "base.scss";
@import "components/dropdown";
@import "components/table";
@import "components/botton";
@import "components/tooltip";
@import "components/form";
@import "pages/jobs/manage";
@import "pages/jobs/create";
@import "pages/templates/create";
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;400;600;900&display=swap");

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: "Overpass", sans-serif;
  color: rgba(0, 21, 48, 0.9);
  background-color: rgba(67, 129, 213, 0.03);
}

.app {
  .app-layout {
    display: flex;
    &__sidebar {
      width: 85px;
      height: 100%;
      position: fixed;
      @import "layouts/sidebar";
    }
    &__body {
      width: 100%;
      margin: 31px 31px 65px 114px;
      &--header {
        @import "layouts/navbar";
      }

      &--content {
        margin: 20px 0;
      }
    }
  }
}
