.btn {
  display: block;
  cursor: pointer;
  font-size: 18px;
  padding: 12px 15px;
  border: none;
}

.btn-plus {
  .icon {
    display: block;
    background: url("~assets/icons/plus.svg");
    background-repeat: no-repeat;
    background-size: 26px 19px;
    width: 26px;
    height: 19px;
  }
}

.btn-blue {
  color: #fff;
  background-color: $blueColor;
}

.btn-light {
  color: #070707;
  background-color: #fff;
}

.btn-blue:disabled,
.btn-blue[disabled] {
  background-color: #8bbcff;
  color: #fff;
  .ic-load {
    display: inline-block !important;
  }
}

.ic-load {
  display: block;
  background-repeat: no-repeat;
  background-size: 26px 19px;
  width: 26px;
  height: 19px;
  animation: spin 2s linear infinite;
}
.ic-load-light {
  background: url("~assets/icons/light-loading.svg");
  background-repeat: no-repeat;
  background-size: 26px 19px;
}
.ic-load-black {
  background: url("~assets/icons/black-loading.svg");
  background-repeat: no-repeat;
  background-size: 26px 19px;
}
@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* The switch - the box around the slider */
.switch {
  margin: 20px 0;
  .switch-label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: $blueColor;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $blueColor;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}
