.btn {
  display: block;
  cursor: pointer;
  font-size: 18px;
  padding: 12px 15px;
}
.btn-blue {
  color: #fff;
  background-color: #1979fc;
}

.btn-light {
  color: #070707;
  background-color: #fff;
}
