.dropdown {
  position: relative;
  display: inline-block;
  .right-menu {
    right: 0;
  }

  .left-menu {
    left: 0;
  }
  .menu {
    box-shadow: 0 8px 14px -5px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    // background-color: $blueColor;
    color: #fff;
    font-size: 13px;
    position: absolute;
    width: 250px;
    transition: all 0.3s;
    z-index: 1;
    &:before {
      content: "";
      background-color: transparent;
      border-right: 8px solid transparent;
      position: absolute;
      border-left: 8px solid transparent;
      border-bottom: 8px solid #629afd;
      border-top: 8px solid transparent;
      top: -15px;
      right: 18px;
    }
    ul {
      margin: 0;
      padding: 0 13px;
      list-style: none;
      li {
        border-left: 1px solid transparent;
        cursor: pointer;
        display: block;
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);
        position: relative;
        a {
          padding: 12px 0;
          display: block;
          color: #fff;
          text-decoration: none;
        }

        &:before {
          content: "";
          position: absolute;
          width: 3px;
          height: 28px;
          background-color: #fff;
          left: -13px;
          top: 50%;
          transform: translateY(-50%);
          display: none;
        }

        &:hover:before {
          display: block;
        }
        &:last-child {
          border-bottom: 1px solid transparent;
        }

        .ic-load {
          display: inline-block !important;
          position: absolute;
          right: 0;
          top: 15px;
        }
      }
    }
  }
}

.delete-icon {
  display: inline-block;
  background: url("~assets/icons/bin.svg");
  background-size: 21px 16px;
  width: 20px;
  height: 16px;
  position: relative;
  top: 4px;
  margin-right: 8px;
}

.edit-icon {
  display: inline-block;
  background: url("~assets/icons/edit.svg");
  background-size: 21px 16px;
  width: 20px;
  height: 16px;
  position: relative;
  top: 4px;
  margin-right: 8px;
}

.dw-blue {
  background-image: linear-gradient(120deg, #5776fd 0%, #66a6ff 100%);
}
.dw-light {
  background-color: #fff;
  color: #070707 !important;
  &:before {
    border-bottom: 8px solid #fff !important;
  }
}
.dropdown-ts-enter-active,
.dropdown-ts-leave-active {
  transition: opacity 0.5s;
}
.dropdown-ts-enter,
.dropdown-ts-leave-active {
  opacity: 0;
}
