.progress-component {
  border: 1px solid #ddd;
  width: 600px;
  background-color: #fff;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 100;
  &__header {
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    .flex {
      align-content: center;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      .title {
        font-size: 16px;
        font-weight: 200;
        letter-spacing: 2px;
      }
      .minimize {
        width: 26px;
        height: 21px;
        background: url("~assets/icons/minimize.svg");
        background-size: 26px 21px;
        display: inline-block;
        cursor: pointer;
      }
      .maximize {
        width: 22px;
        height: 17px;
        background: url("~assets/icons/expand.svg");
        background-size: 22px 17px;
        display: inline-block;
        cursor: pointer;
      }
    }
  }

  &__body {
    &--list {
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        height: 600px;
        overflow-x: hidden;
        overflow-y: scroll;
        li {
          border-bottom: 1px solid #ddd;
          padding: 15px 0 20px;

          .content {
            color: #505a62;
            padding: 0 10px 10px 10px;
            p {
              font-weight: 500;
              font-size: 16px;
            }
            .name {
              p {
                margin: 0;
              }
            }
            .progress-details {
              .flex {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
              }

              p {
                margin: 7px 0 15px 0;
              }
            }

            .progress {
              .p-background,
              .p-percent {
                display: block;
                height: 5px;
                position: relative;
                overflow: hidden;
              }

              .p-background {
                background-color: #9e9e9e !important;

                .p-percent {
                  background-color: #0073dc !important;
                }
              }
            }
          }
        }
      }
    }
  }

}
