.app-table {
  background-color: #fff;
  box-shadow: 0 15px 17px -8px rgba(0, 0, 0, 0.08);

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    // Status css
    #status {
      .st-upload,
      .st-transcoding,
      .st-finish {
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 50px;
        display: inline-flex;
        padding: 3px 7px;
        span {
          padding: 0 2px;
          border-radius: 50px;
        }

        .dot {
          border-radius: 50%;
          width: 11px;
          height: 11px;
          position: relative;
          top: 6px;
          margin: 0 6px 0 0;
        }
      }
      .st-upload {
        background-color: #ffc107;
        box-shadow: 0px 5px 20px -7px #ffc107;
        .dot {
          background-color: #daa300;
        }
      }
      .st-transcoding {
        background-color: #03a9f4;
        box-shadow: 0px 5px 20px -7px #03a9f4;
        .dot {
          background-color: #0086c1;
        }
      }
      .st-finish {
        background-color: #8bc34a;
        box-shadow: 0px 5px 20px -7px #8bc34a;
        .dot {
          background-color: #539a00;
        }
      }
    }
    th {
      font-size: 15px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.45);
    }
    td {
      font-weight: 400;
      font-size: 17px;
    }
    td,
    th {
      padding: 8px;
      text-align: left;
    }
    td:last-child {
      cursor: pointer;
      svg {
        width: 18px;
      }
    }
    tr {
      transition: 200ms;
      &:hover {
        background-color: rgba(211, 230, 255, 0.5);
        cursor: pointer;
      }
    }
    tr.progress {
      .progress-meter > span {
        display: block;
        height: 5px;
        position: relative;
        overflow: hidden;
      }
      .upload {
        background-color: #ffc107;
      }
      .transcode {
        background-color: #03a9f4;
      }
      td {
        margin: 0;
        padding: 0;
      }
    }
  }

  // Job details when you click to td item
  .tr-job {
    &:hover {
      background-color: unset !important;
      cursor: none !important;
    }
  }
  .job-details {
    hr {
      width: 95%;
      border-top: 1px solid #ececec;
    }
    .flex-2 {
      .details-list {
        display: flex;
        ul {
          margin-top: 0;
          list-style: none;

          li:nth-child(1) {
            margin-top: 0;
          }
        }
        &__name {
          li {
            margin-top: 10px;
            color: rgba(0, 26, 61, 0.6);
          }
        }
        &__value {
          li {
            margin-top: 10px;
            color: rgba(0, 26, 61, 1);
          }
          li#error {
            color: red;
          }
        }
      }
    }
  }
}

.app-table-pagination {
  .pagination-section {
    margin: 5rem 0;
    display: flex;

    justify-content: space-between;
    .flex-2 {
      display: flex;

      .paginaiton-page {
        margin: 3px 33px;
      }

      .pagination {
        list-style-type: none;
        padding: 0;
        display: flex;

        a {
          text-decoration: none;
          background: white;
          color: #515151;
          font-size: 14px;
          padding: 0.75rem 1rem;
          border: 1px solid #ededed;
        }
      }
    }
    p {
      font-size: 14px;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.43);
    }
  }
}
