.app-create-jobs {
  &__header {
    .flex-1 {
      a {
        box-shadow: 0px 10px 17px -9px rgba(0, 0, 0, 0.34);
        transition: 300ms;
        &:hover {
          box-shadow: 0px 10px 17px -9px rgba(33, 150, 243, 0.82);
        }
        .icon-back {
          display: block;
          background: url("~assets/icons/back.svg");
          background-repeat: no-repeat;
          background-size: 26px 19px;
          width: 30px;
          height: 19px;
        }
      }
    }
  }

  &__body {
    background-color: #fff;
    box-shadow: 0 15px 17px -8px rgba(0, 0, 0, 0.08);
    .btn-upload {
      margin-top: 30px;
      button {
        width: 100px;
      }
    }
  }
}
