.app-jobs-manage {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;


    .flex-2 {
      a {
        padding: 15px 15px;
        border-radius: 5px;
        box-shadow: 0px 10px 17px -9px rgba(0, 0, 0, 0.34);
        .icon {
          display: block;
          background: url("~assets/icons/plus.svg");
          background-repeat: no-repeat;
          background-size: 26px 19px;
          width: 26px;
          height: 19px;
        }
      }
    }
  }
}
