.template-create-page {
  .presets {
    &__head, .splice-preset  {
      display: flex;
      flex-direction: row-reverse;
      .btn {
        padding: 3px 5px;
        border-radius: 50px;
        width: 40px;
        height: 40px;
        position: relative;
        .icon {
          background-repeat: no-repeat;
          background-size: 23px 16px;
          width: 23px;
          position: absolute;
          top: 55%;
          left: 51%;
          height: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    &__head,
    &__body {
      margin-top: 30px;
      hr {
        margin: 40px 0;
        border: 1px solid #eaeaea;
      }
    }
    &__body {
     &--list {
       margin-bottom: 50px;
       .splice-preset {
         .btn {

           .icon {
             background-repeat: no-repeat;
             background-size: 23px 16px;
             width: 23px;
             position: absolute;
             top: 55%;
             left: 51%;
             height: 50%;
             transform: translate(-50%, -50%);
           }
         }
       }
     }
    }
  }

  hr {
    margin: 48px 0;
    border: 1px solid #eaeaea;
  }
}
