.navbar {
  &__left,
  &__right {
    &--dropdown {
      button {
        border: none;
        background: transparent;
        padding: 13px 0 13px 0;
        font-size: 20px;
        cursor: pointer;
        span.icon {
          margin-right: 13px;
          img {
            width: 42px;
          }
        }

        span.text {
          color: #707070;
          position: relative;
          top: -13px;
        }
        .arrow {
          border: solid #707070;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px;
          margin: 13px;
        }
        .up {
          transform: rotate(-135deg);
          -webkit-transform: rotate(-135deg);
        }

        .down {
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }
      }
    }
  }

  &__left {
    display: inline-block;
  }
  &__right {
    float: right;
    margin-top: 15px;
    button {
      background: #fff;
      padding: 12px 10px 5px;
      box-shadow: 0 8px 14px -10px #8c8c8c;
      span.icon {
        margin: 0;
        padding: 5px;
        img {
          width: 23px;
        }
      }
      span.notify-dot {
        height: 11px;
        width: 11px;
        background-color: #f25757;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        bottom: 8px;
        right: 11px;
      }
    }
    .menu {
      width: 350px;
    }
  }
}
