.sidebar {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
  background-color: #197aff;
  .sidebar-gradient {
    position: absolute;
    width: 469px;
    height: 100%;
    bottom: -100px;
    transform: rotate(-147deg);
    background: #093b80;
    transform: translateY(39%) translateX(-50%) rotate(31deg);
  }

  &__header {
    img {
      margin: auto;
      padding-top: 10px;
      display: block;
      width: 54px;
    }
  }

  &__body {
    position: absolute;
    width: 100%;
    top: 180px;
    &--list-icons {
      padding: 0;
      li.dashboard {
        margin: 0 !important;
      }

      li.settings {
        svg {
          width: 33px !important;
        }
      }

      li {
        margin-top: 30px;
        list-style: none;
        .icon {
          a {
            display: block;
            svg {
              width: 38px;
              height: auto;
              margin-top: 30px;
              list-style: none;
              padding: 27px 7px;
              display: block;
              margin: auto;
            }
          }
          a.nuxt-link-exact-active {
            background-color: rgba($color: #ffffff, $alpha: 0.2);
          }
        }
      }
    }
  }
}
