.app-dashboard {
  &__body {
    .header {
      display: flex;
      justify-content: space-between;

      .chart-job,
      .cards-container {
        .title h3 {
          font-size: 3ch;
        }
      }
      .chart-job {
        width: 49%;
        height: 300px;

        .chart-transcode {
          margin-top: 20px;
        }
      }

      .cards-container {
        width: 49%;
        &__body {
          .cards {
            div:nth-child(3) {
              margin-top: 15px;
            }
            .icon-cpu {
              background: url(~assets/icons/processor.svg);
            }

            .icon-memory {
              background: url(~assets/icons/memory.svg);
            }

            .icon-hourglass {
              background: url(~assets/icons/hourglass.svg);

              background-repeat: no-repeat;
              background-size: 150px 200px;
            }
          }
        }
      }
    }
  }

  .cards {
    display: flex;
    flex-flow: row wrap;
    &__item {
      width: 48%;
      position: relative;
      height: 170px;
      overflow: hidden;
      box-shadow: -1px 11px 20px -8px #cacaca;
      border-radius: 5px;
      margin-right: 1%;
      .calc {
        position: absolute;
        top: 0;
        left: 0;
        margin: 15px;
        h3 {
          margin: 0;
          color: #fff;
          font-size: 6ch;
        }
        p {
          margin: 0;
          font-size: 2.5ch;
          font-weight: bolder;
          color: #fff;
        }
      }
      .icon {
        position: absolute;
        right: 0;
        top: 10px;
        background-repeat: no-repeat;
        background-size: 150px 150px;
        width: 150px;
        height: 150px;
        transform: translateY(0%) translateX(35%) rotate(42deg);
        box-shadow: 1px 2px 20px -5px #393939;
      }
    }
  }

  .blue-card {
    background-image: linear-gradient(120deg, #2196f3 0%, #3949ab 100%);
  }

  .red-card {
    background-image: linear-gradient(120deg, #ff9800 0%, #ff5722 100%);
  }
}
